<VirtualHost *:80>
   ServerAdmin webmaster@localhost
   DocumentRoot /var/www/{{ http_host }}/wordpress

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    <Directory /var/www/{{ http_host }}/wordpress>
        AllowOverride All
    </Directory>
</VirtualHost>